<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<dfe_frontend>
			<product_view>
				<sku>
					<label>SKU</label>
					<!--
					2015-11-14
					https://github.com/magento/magento2/blob/2335247d4ae2dc1e0728ee73022b0a244ccd7f4c/app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less#L229
					-->
					<label_suffix>#:</label_suffix>
					<show_label>1</show_label>
				</sku>
			</product_view>
		</dfe_frontend>
    </default>
</config>
