<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
        <dfe_frontend_tweaks>
            <product_view>
            </product_view>
        </dfe_frontend_tweaks>
    </default>
</config>
