<?xml version='1.0'?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <!--
            2015-07-10
            Минимальная длина идентификатора tab — 3 символа:
            https://github.com/magento/magento2/blob/1.0.0-beta/app/code/Magento/Config/etc/system_file.xsd#L405
            Поэтому ставим символ подчёркивания вначале.
        -->
        <tab id='_df' translate='label' sortOrder='-100'>
            <label>Mage2.PRO</label>
        </tab>
        <!--
            2015-09-25
            Первые 2 цифры sortOrder соответствуют порядковому номеру в английском алфавите
            первой буквы имени модуля: https://en.wikipedia.org/wiki/English_alphabet
            Вторые 2 цифры аналогично соответствуют порядковому номеру 2-й буквы имени модуля.
            5-я цифра позволяет упорядочивать модули, чьи имена совпадают по первым 2-м буквам.
        -->
        <section
            id='dfe_frontend_tweaks'
            translate='label'
            type='text'
            sortOrder='60180'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Frontend Tweaks</label>
            <class>separator-top</class>
            <!--
                2015-11-13
                https://mage2.pro/t/197
            -->
            <resource>Dfe_FrontendTweaks::config</resource>
            <group
                id='product_view'
                translate='label'
                type='text'
                sortOrder='1'
                showInDefault='1'
                showInWebsite='1'
                showInStore='0'
            >
                <label>Product View</label>
                <!-- https://mage2.pro/t/196 -->
                <field
                    id='hide_stock_status_for_virtual_and_downloadable_products'
                    translate='label'
                    type='select'
                    sortOrder='1'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Hide the Stock Status for the Virtual and Downloadable Products?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<a href='https://mage2.pro/t/196'>Has it any sense to display the stock status for the virtual products?</a>]]></comment>
                </field>
                <field
                    id='hide_sku'
                    translate='label'
                    type='select'
                    sortOrder='2'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Hide the SKU?</label>
                    <source_model>Dfe\FrontendTweaks\ConfigSource\HideSku</source_model>
                    <comment><![CDATA[<a href='https://mage2.pro/t/197'>Documentation.</a>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>